<h2>Whiskies</h2>

<a class="btn" href="/whiskies/new">Add Whiksy</a>

<div class="whiskies">
  <% @whiskies.each do |whiksy| %>
  <div class="row">
    <img src="<%= whiksy.img_url %>" alt="<%= whiksy.name %> photo">
    <ul>
      <li>
        <h2>
          <a href="/whiskies/<%= whiksy.id %>">
            <%= whiksy.name %>
          </a>
        </h2>
      </li>
      <li>
        <a href="/whiskies/<%= whiksy.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <li>
          <form method="/whiskies/<%= whiksy.id %>/delete" action="post">
            <button>Delete</button>
          </form>
        </li>
      </li>
    </ul>
  </div>
  <% end %>
</div>
