<h2>Whiskies</h2>

<a class="btn" href="/whiskies/new">Add Whisky</a>

<div class="whiskies">
  <% @whiskies.each do |whisky| %>
  <div class="row">
    <img src="<%= whisky.img_url %>" alt="<%= whisky.name %> photo">
    <ul>
      <li>
        <h2>
          <a href="/whiskies/<%= whisky.id %>">
            <%= whisky.name %>
          </a>
        </h2>
      </li>
      <li>
        <a href="/whiskies/<%= whisky.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <li>
          <form action="/whiskies/<%= whisky.id %>/delete" method="post">
            <button>Delete</button>
          </form>
        </li>
      </li>
    </ul>
  </div>
  <% end %>
</div>
